<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Log</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1> Workout Log </h1>
    
    <form action="/insert" method="POST">
        <input type="text" placeholder="enter exercise" name="name">
        <input type="number" placeholder="enter # of sets" name="sets" min="1" max="99">
        <button type="submit">Add Exercise</button>
    </form>

    <div>
        <% for(var i = 0; i < exercises.length; i++) {%>
            <form action="/test" method="POST" >

                <table>
                    <tr>
                        <th>Set #</th>
                        <th>Reps</th>
                        <th>Weight (lbs)</th>
                        <th>Previous</th>
                        <th>&#10004</th>
                    </tr>
            
                    <input type="text" name="name" value="<%= exercises[i].name %>" >

                    <% for(var j = 0; j < exercises[i].sets; j++) {%>          
                        <% if(exercises[i].reps === undefined) {       %>
                            <tr>
                                <td> <input type="text" name="sets" value="<%= j %>" > </td>
                                <td> <input type="text" name="reps" value="<%= exercises[i].reps %>" > </td>
                                <td> <input type="text" name="weight" value="<%= exercises[i].weight %>" > </td>
                                <td> <input type="text" name="previous" value="<%= exercises[i].previous %>" > </td>
                                <td> <input type="checkbox"> </td>
                            </tr>
                        <% } else {  %>
                            <tr>
                                <td> <input type="text" name="sets" value="<%= j %>" > </td>
                                <td> <input type="text" name="reps" value="<%= exercises[i].reps[j] %>" > </td>
                                <td> <input type="text" name="weight" value="<%= exercises[i].weight[j] %>" > </td>
                                <td> <input type="text" name="previous" value="<%= exercises[i].previous[j] %>" > </td>
                                <td> <input type="checkbox"> </td>
                            </tr>
                        <% } %>
                    <% } %>
                </table>
        
                <button type="submit" formaction="/update">Update</button>
                <button type="submit" formaction="/add">&#10133 Set</button>
                <button type="submit" formaction="/sub">&#10134 Set</button>
                <button type="submit" formaction="/remove">Remove Exercise</button>

            </form>
        <% } %>
    </div>

    <script src="/main.js"></script>
</body>
</html>