<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Log</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1> Workout Log </h1>
    
    <!-- The var str will hold the values of all the exercise names. -->
    <!-- This string will be used in the validateForm method, in which it will be converted into an array. -->
    <% var str = ""; %>
    <% for(var i = 0; i < exercises.length; i++) {%>
        <% str += exercises[i].name + " " %>
    <% } %>
    <!-- Removes the last character which is a space. This is done so that str can be turned into an array. -->
    <% str = str.slice(0, -1) %>

    <!-- This form will trigger app.post('/insert') to create the exercise in the database -->
    <!-- User must fill out input field and number of sets cannot be less than 1. -->
    <form action="/insert" method="POST" name="myForm" onsubmit="return validateForm('<%=str%>')" required>
        <input type="text" placeholder="enter exercise" name="name" id="nameField">
        <input type="number" placeholder="enter # of sets" name="sets" min="1" max="99" id="setsField">
        <button type="submit">Add Exercise</button>
    </form>

    <div>
        <!-- The variable 'exercises' contains the data of the documents from the database. -->
        <!-- Loops through all the exercises to create a table. -->
        <% for(var i = 0; i < exercises.length; i++) { %>
            <form method="POST" >

                <table>
                    <tr>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Weight (lbs)</th>
                        <th>Previous</th>
                        <th>&#10004</th>
                    </tr>
            
                    <input type="text" name="name" value="<%= exercises[i].name %>" readonly>

                    <!-- This if statement check to see if number of sets is going from 1 to 2. This determines how the table is created. -->
                    <% if (exercises[i].setOneToTwo == true) { %>
                        <tr>
                            <td> <input type="text" name="sets" value="<%= 1 %>" readonly> </td>
                            <td> <input type="text" name="reps" value="<%= exercises[i].reps %>" > </td>
                            <td> <input type="text" name="weight" value="<%= exercises[i].weight %>" > </td>
                            
                            <!-- Checks to see if the user wants to setup previous weight x reps. -->
                            <% if (exercises[i].pre == true) { %>

                                <!-- Produce different outputs depending on which input field the user fills. -->
                                <% if (exercises[i].reps == "") { %>
                                    <td> <input type="text" name="previous" value="" readonly> </td>
                                <% } else if (exercises[i].weight == "") { %>
                                    <td> <input type="text" name="previous" value="<%= exercises[i].reps + ' reps' %>" readonly> </td>
                                <% } else { %>
                                    <td> <input type="text" name="previous" value="<%= exercises[i].weight + ' lb x ' + exercises[i].reps %>" readonly> </td>
                                <% } %>

                            <% } else { %>
                                <td> <input type="text" name="previous" value="<%= exercises[i].previous %>" readonly> </td>
                            <% } %>

                            <td> <input type="checkbox"> </td>
                        </tr>

                        <tr>
                            <td> <input type="text" name="sets" value="<%= 2 %>" readonly> </td>
                            <td> <input type="text" name="reps" value="" > </td>
                            <td> <input type="text" name="weight" value="" > </td>
                            <td> <input type="text" name="previous" value="" readonly> </td>
                            <td> <input type="checkbox"> </td>
                        </tr>
                    <% } else { %>
                        <!-- For each exercise, this loop will create a row for each set. -->
                        <% for (var j = 0; j < exercises[i].sets; j++) { %>   
                            <!-- This if statement will create a table when there is only 1 set. -->     
                            <!-- This is done because if the exercise only have 1 set, then the data in the document is not an array. -->  
                            <% if (exercises[i].onlyOneSet === undefined || exercises[i].onlyOneSet == true) { %>
                            
                                <tr>
                                    <td> <input type="text" name="sets" value="<%= j + 1 %>" readonly> </td>
                                    <td> <input type="text" name="reps" value="<%= exercises[i].reps %>" > </td>
                                    <td> <input type="text" name="weight" value="<%= exercises[i].weight %>" > </td>

                                    <!-- Checking for previous setup. -->
                                    <% if (exercises[i].pre == true) { %>

                                        <% if (exercises[i].reps == "") { %>
                                            <td> <input type="text" name="previous" value="" readonly> </td>
                                        <% } else if (exercises[i].weight == "") { %>
                                            <td> <input type="text" name="previous" value="<%= exercises[i].reps + ' reps' %>" readonly> </td>
                                        <% } else { %>
                                            <td> <input type="text" name="previous" value="<%= exercises[i].weight + ' lb x ' + exercises[i].reps %>" readonly> </td>
                                        <% } %>
                                        
                                    <% } else { %>
                                        <td> <input type="text" name="previous" value="<%= exercises[i].previous %>" readonly> </td>
                                    <% } %>

                                    <td> <input type="checkbox"> </td>
                                </tr>
                            <% } else { %>
                                <!-- Creates table if the number of sets is greater than 1. -->
                                <tr>
                                    <td> <input type="text" name="sets" value="<%= j + 1 %>" readonly> </td>
                                    <td> <input type="text" name="reps" value="<%= exercises[i].reps[j] %>" > </td>
                                    <td> <input type="text" name="weight" value="<%= exercises[i].weight[j] %>" > </td>
                        
                                    <!-- Checking for previous setup. -->
                                    <% if (exercises[i].pre == true) { %>

                                        <% if (exercises[i].reps[j] == "") { %>
                                            <td> <input type="text" name="previous" value="" readonly> </td>
                                        <% } else if (exercises[i].weight[j] == "") { %>
                                            <td> <input type="text" name="previous" value="<%= exercises[i].reps[j] + ' reps' %>" readonly> </td>
                                        <% } else { %>
                                            <td> <input type="text" name="previous" value="<%= exercises[i].weight[j] + ' lb x ' + exercises[i].reps[j] %>" readonly> </td>
                                        <% } %>

                                    <% } else { %>
                                        <td> <input type="text" name="previous" value="<%= exercises[i].previous[j] %>" readonly> </td>
                                    <% } %>

                                    <td> <input type="checkbox"> </td>
                                </tr>
                            <% } %>
                        <% } %>
                    <% } %>
                </table>
        
                <!-- These buttons will trigger post methods from the server side. -->
                <button type="submit" formaction="/update">Update</button>
                <button type="submit" formaction="/add">&#10133 Set</button>
                <button type="submit" formaction="/sub">&#10134 Set</button>
                <button type="submit" formaction="/previous">Setup Previous</button>
                <button type="submit" formaction="/remove">Remove Exercise</button>

            </form>
        <% } %>
    </div>

    <script src="/main.js"></script>
</body>
</html>