<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Log</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1> Workout Log </h1>
    
    <!-- This form will trigger app.post('/insert') to create the exercise in the database -->
    <!-- User must fill out input field and number of sets cannot be less than 1. -->
    <form action="/insert" method="POST" name="myForm" onsubmit="return validateForm()" >
        <input type="text" placeholder="enter exercise" name="name">
        <input type="number" placeholder="enter # of sets" name="sets" min="1" max="99">
        <button type="submit">Add Exercise</button>
    </form>

    <div>
        <!-- The variable exercises contain the data from the documents of the database. -->
        <!-- Loops through all the exercises to create a table. -->
        <% for(var i = 0; i < exercises.length; i++) { %>
            <form method="POST" >

                <table>
                    <tr>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Weight (lbs)</th>
                        <th>Previous</th>
                        <th>&#10004</th>
                    </tr>
            
                    <input type="text" name="name" value="<%= exercises[i].name %>" >

                    <!-- This if statement check to see if number of sets is going from 1 to 2. This determines how the table is created. -->
                    <% if (exercises[i].setOneToTwo == true) { %>
                        <tr>
                            <td> <input type="text" name="sets" value="<%= 1 %>" > </td>
                            <td> <input type="text" name="reps" value="<%= exercises[i].reps %>" > </td>
                            <td> <input type="text" name="weight" value="<%= exercises[i].weight %>" > </td>
                            <td> <input type="text" name="previous" value="<%= exercises[i].previous %>" > </td>
                            <td> <input type="checkbox"> </td>
                        </tr>

                        <tr>
                            <td> <input type="text" name="sets" value="<%= 2 %>" > </td>
                            <td> <input type="text" name="reps" value="" > </td>
                            <td> <input type="text" name="weight" value="" > </td>
                            <td> <input type="text" name="previous" value="" > </td>
                            <td> <input type="checkbox"> </td>
                        </tr>
                    <% } else { %>
                        <% for (var j = 0; j < exercises[i].sets; j++) { %>   
                            <!-- This if statement will create a table when there is only 1 set. -->     
                            <!-- This is done because if the exercise only have 1 set, then the data in the document is not an array. -->  
                            <% if (exercises[i].onlyOneSet === undefined || exercises[i].onlyOneSet == true) { %>
                            
                                <tr>
                                    <td> <input type="text" name="sets" value="<%= j + 1 %>" > </td>
                                    <td> <input type="text" name="reps" value="<%= exercises[i].reps %>" > </td>
                                    <td> <input type="text" name="weight" value="<%= exercises[i].weight %>" > </td>
                                    <td> <input type="text" name="previous" value="<%= exercises[i].previous %>" > </td>
                                    <td> <input type="checkbox"> </td>
                                </tr>
                            <% } else { %>
                                <!-- Creates table if the number of sets is greater than 1. -->
                                <tr>
                                    <td> <input type="text" name="sets" value="<%= j + 1 %>" > </td>
                                    <td> <input type="text" name="reps" value="<%= exercises[i].reps[j] %>" > </td>
                                    <td> <input type="text" name="weight" value="<%= exercises[i].weight[j] %>" > </td>
                                    <td> <input type="text" name="previous" value="<%= exercises[i].previous[j] %>" > </td>
                                    <td> <input type="checkbox"> </td>
                                </tr>
                            <% } %>
                        <% } %>
                    <% } %>
                </table>
        
                <button type="submit" formaction="/update">Update</button>
                <button type="submit" formaction="/add">&#10133 Set</button>
                <button type="submit" formaction="/sub">&#10134 Set</button>
                <button type="submit" formaction="/remove">Remove Exercise</button>

            </form>
        <% } %>
    </div>

    <script src="/main.js"></script>
</body>
</html>